:root {
    --primary-text-color:#757575;
    --title-text-color:#212121;
    --primary-white-color:#FFFFFF;
    --footer-text-color:rgba(255, 255, 255, 0.6);
    --accent-color:#2196F3;
}

body {
    background-color: #F5F5F5;
    color: var(--primary-text-color);
    font-family: roboto, sans-serif;
    letter-spacing: 0.03em;
}

/* header */
ul {
    list-style: none;
}

.logo {
    color: #000000;
    font-family: raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
}

/* ОСНОВНА СТОРІНКА */
.site-nav .link {
    color: var(--title-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
}

.site-nav .link:hover,
.site-nav .link:focus {
    color: var(--accent-color);
}

.link {
    color: var(--primary-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em
}

.link:hover,
.link:focus {
    color: var(--accent-color);
}

/* СЕКЦІЇ */
.hero-title {
    color: var(--primary-white-color);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}

.section-title { 
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

.title {
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
}
    
.title-team {
    color: var(--title-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
}

.text {
    font-size: 14px;
    line-height: 1.71;
}

.text-team {
    font-size: 16px;
    line-height: 1.18;
}

/* BUTTON */
button {
    background-color: var(--accent-color);
    color: var(--primary-white-color);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    text-decoration: none;
    cursor: pointer;
}

/* FOOTER */
.fotter-adress {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
}

.adress-link {
    color: var(--primary-white-color);
}

.adress-link:hover,
.adress-link:focus {
    color: var(--accent-color);
}

.mail-link {
    color: var(--footer-text-color);
    }

.mail-link:hover,
.mail-link:focus {
    color: var(--accent-color);
}

.tel-link {
    color: var(--footer-text-color);
}

.tel-link:hover,
.tel-link:focus {
    color: var(--accent-color);
} 

/* ПОРТФОЛІО */
/* BUTTON */
.but {
    background-color: #F5F5F5;
    color: var(--title-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
}

.but:hover,
.but:focus {
    background-color: var(--accent-color);
    color: var(--primary-white-color);
}

/* СЕКЦІЯ */
.title-work {
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}

.text-work {
    font-size: 16px;
    line-height: 1.88;
}

